@import "tailwindcss";

h1{
  font-size: 48px;
}
h2{
  font-size: 44px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 32px;
}
h5{
  font-size: 24px;
}
h6{
  font-size: 16px;
}

@theme {
  --color-primary: #2196F3;
  --color-secondary: #673AB7;
  --color-sky: #57c0f7;
  --color-error: #FB2C36
}

/* No scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #EBEBEB;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9fb5b4;
}